[submodule "bricks/ev3rt/ev3rt-hrp2"]
	path = bricks/ev3rt/ev3rt-hrp2
	url = https://github.com/pybricks/ev3rt-hrp2.git
	update = none
[submodule "bricks/nxt/nxt-firmware-drivers"]
	path = bricks/nxt/nxt-firmware-drivers
	url = https://github.com/pybricks/nxt-firmware-drivers.git
	update = none
[submodule "micropython"]
	path = micropython
	url = https://github.com/pybricks/micropython
	branch = pybricks-v3.x
[submodule "lib/btstack"]
	path = lib/btstack
	url = https://github.com/bluekitchen/btstack
	update = none
