[submodule "micropython"]
	path = micropython
	url = https://github.com/pybricks/micropython
	branch = pybricks-v3.x
[submodule "lib/btstack"]
	path = lib/btstack
	url = https://github.com/bluekitchen/btstack
	update = none
[submodule "lib/ev3rt-lib"]
	path = lib/ev3rt-lib
	url = https://github.com/pybricks/ev3rt-lib.git
	update = none
[submodule "lib/STM32_USB_Device_Library"]
	path = lib/STM32_USB_Device_Library
	url = https://github.com/STMicroelectronics/stm32_mw_usb_device.git
