name: Publish firmware package

on:
  push:
    tags:
    - '@pybricks/firmware/**'

permissions:
  id-token: write
  contents: read

jobs:
  npm_firmware:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: npm/firmware
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - run: python -m pip install PyGithub
    - uses: actions/setup-node@v4
      with:
        node-version: '24'
        registry-url: 'https://registry.npmjs.org'
    - run: yarn install
    - run: yarn build
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: npm publish
