on:
  push:
    tags:
    - 'v3.*'
    - 'v4.*'

name: Upload Release Assets

env:
  MAKEOPTS: -j

permissions:
  contents: write

jobs:
  upload_release:
    name: Upload Release Assets
    runs-on: ubuntu-24.04
    steps:
      - name: Install cross-compiler
        run: sudo apt-get update && sudo apt-get install --yes gcc-arm-none-eabi
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0
      - run: pipx install poetry
      - run: poetry install --only=build
      - name: Build firmware
        run: |
          export MICROPY_GIT_TAG=ci-release-${{ github.run_number }}-$(git describe --tags --dirty --always --exclude "@pybricks/*")
          export MICROPY_GIT_HASH=$(echo ${{ github.sha }} | cut -c1-8)
          poetry run make $MAKEOPTS -C micropython/mpy-cross
          poetry run make $MAKEOPTS -C bricks/movehub
          poetry run make $MAKEOPTS -C bricks/cityhub
          poetry run make $MAKEOPTS -C bricks/technichub
          poetry run make $MAKEOPTS -C bricks/primehub
          poetry run make $MAKEOPTS -C bricks/essentialhub
          poetry run make $MAKEOPTS -C bricks/nxt
          poetry run make $MAKEOPTS -C bricks/ev3
      - name: Get tag
        run: echo "GITHUB_TAG=${GITHUB_REF#*refs/tags/}" >> $GITHUB_ENV
      - name: Create Release and Upload Assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: |
          if [[ "${{ contains(env.GITHUB_TAG, 'a') || contains(env.GITHUB_TAG, 'b') || contains(env.GITHUB_TAG, 'c') }}" == "true" ]]; then
            PRERELEASE_FLAG="--prerelease"
          else
            PRERELEASE_FLAG=""
          fi
          HUBS="movehub cityhub technichub primehub essentialhub nxt ev3"
          for HUB in $HUBS; do
            NEW_FILENAME="./bricks/$HUB/build/pybricks-$HUB-${{ env.GITHUB_TAG }}.zip"
            mv "./bricks/$HUB/build/firmware.zip" "$NEW_FILENAME"
            ASSETS="$ASSETS $NEW_FILENAME"
          done
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${tag#v}" \
              -F CHANGELOG.md \
              $PRERELEASE_FLAG \
              $ASSETS
